{% extends "layout.html" %}

{% block main_navbar %}
{% endblock %}

{% block main_content %}
<aside>

</aside>
<main>
    <header>
        <h2>{{ title }}</h2>
    </header>
    <div>
        <a href="{{ url_for( 'Admin.form_new_user' ) }}">
            Nuevo Usuario
        </a>
        <table>
            <thead>
                <tr>
                    <th>usuario</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>
                        <a href="{{ url_for( 'Admin.form_edit_user', user_id=u.user_id ) }}">
                            Editar
                        </a>
                        <a href="">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>

    </footer>
</main>
<aside>

</aside>
{% endblock %}
